<div class="container-fluid bg-color">
    <div class="row">
        <div class="footer d-flex align-items-center justify-content-center flex-column">
            <h2 class="h4">NOXE</h2>
            <p>Copyright © 2020 Noxe, Inc.</p>
            <div class="d-flex">
                <a class="text-decoration-none" href="">Legal Stuff</a>
                <div class="line"></div>
                <a class="text-decoration-none" href="">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>