<div class="row">
    <div class="header text-center d-flex flex-column align-items-center">
        <div class="brdr w-25 my-5"></div>
        <h2>About Us</h2>
        <div class="brdr w-50 my-5"></div>
    </div>
    <div class="f-down">
        <p>So amazingly awesome and easy to use website for watching movies and tv shows. Limited customization and one of the best user WordPress ever. If you can dream it, this site can make it come to life. And this site have been believed and loved by many customers.</p>
    </div>
</div>