<div class="row">
    <div class="header text-center d-flex flex-column align-items-center">
        <div class="brdr w-25 my-5"></div>
        <p>Most watched movies by day</p>
        <h2>MOVIES</h2>
        <div class="brdr w-50 my-5"></div>
    </div>
    <div *ngFor="let movie of trendingMovies" class="col-md-3">
        <div class="movie text-center position-relative">
            <a [routerLink]="['/moviesDetails', movie.id]" class="text-decoration-none text-white">
                <img [src]="imgPrefix+movie.poster_path" class="w-100" alt="">
                <h3 class="h5">{{movie.title}} {{movie.name}}</h3>
                <div class="vote position-absolute top-0 end-0 ">
                    {{movie.vote_average}}
                </div>
            </a>
        </div>
    </div>
</div>